/*------------------------------------*\
  #BANNER
\*------------------------------------*/

.banner {
  min-height: 600px;
  background-image: url(/assets/images/banner/banner-bg.jpg);

  @apply w-full h-screen grid grid-cols-4Flex grid-rows-4Flex auto-rows-min pt-0 pl-0;
  @apply bg-no-repeat bg-cover bg-center bg-black tablet:bg-auto tablet:bg-neg180;
}

.banner__title-small {
  @apply block tablet:hidden;
}

.banner__title-large {
  @apply hidden tablet:block;
}

.banner__category {
  &:hover {
    filter: grayscale(100%);
    background-size: 110%;
    transition: background-size 0.25s ease-out, filter 0.25s ease-out;
  }

  @apply w-full invisible relative p-4 flex flex-col justify-end items-end tablet:visible;
  @apply bg-cover bg-center bg-no-repeat font-bold cursor-pointer;
}

.banner__title {
  @apply pl-4 wide:pl-0;
  @apply row-start-2 row-end-2 col-start-1 col-end-5;
  @apply computer:row-start-3 computer:row-end-3 computer:col-start-1 computer:col-end-3;
  @apply wide:row-start-2 wide:row-end-3 wide:col-start-3 wide:col-end-4 wide:pl-0;
}

.banner__intro {
  @apply w-full flex justify-center items-center invisible computer:visible;
  @apply row-start-3 row-end-3 col-start-1 col-end-5;
  @apply computer:row-start-3 computer:row-end-3 computer:col-start-3 computer:col-end-5;
  @apply wide:row-start-2 wide:row-end-3 wide:col-start-4 wide:col-end-5;
}

.banner__category--is-concerts {
  background-image: url(/assets/images/banner/category-concert.jpg);

  @apply row-start-4 row-end-4 col-start-1 col-end-2;
  @apply computer:row-start-4 computer:row-end-4 computer:col-start-1 computer:col-end-2;
  @apply wide:row-start-3 wide:row-end-4 wide:col-start-3 wide:col-end-4;
}

.banner__category--is-operas {
  background-image: url(/assets/images/banner/category-opera.jpg);

  @apply row-start-4 row-end-4 col-start-2 col-end-3;
  @apply computer:row-start-4 computer:row-end-4 computer:col-start-2 computer:col-end-3;
  @apply wide:row-start-3 wide:row-end-4 wide:col-start-4 wide:col-end-5;
}

.banner__category--is-dances {
  background-image: url(/assets/images/banner/category-dance.jpg);

  @apply row-start-4 row-end-4 col-start-3 col-end-5;
  @apply computer:row-start-4 computer:row-end-4 computer:col-start-3 computer:col-end-5;
  @apply wide:row-start-4 wide:row-end-5 wide:col-start-3 wide:col-end-5;
}

.banner__more {
  @apply flex flex-col justify-center items-center p-2 invisible text-center tablet:w-full tablet:visible;
  @apply row-start-5 row-end-5 col-start-1 col-end-5;
  @apply computer:row-start-5 computer:row-end-5 computer:col-start-1 computer:col-end-5;
  @apply wide:row-start-4 wide:row-end-5 wide:col-start-2 wide:col-end-3;
}
