/*------------------------------------*\
  #CARD
\*------------------------------------*/

.card {
  @apply flex flex-col items-center mb-8 tablet:mb-0;
}

.card__image {
  width: 300px;
  max-width: 100%;
  height: 200px;
  min-height: 200px;
  object-fit: cover;
}

.card__body {
  @apply h-full p-3 bg-white border-l-1 border-r-1 border-b-1;
}

.card__title {
  @apply mt-4 pb-4 font-sans text-4.5xl text-secondary leading-10;
}

.card__subtitle {
  @apply flex flex-col items-center pb-6 font-serif text-2xl text-secondary-light;
}

.card__subtitle--is-simple {
  @apply font-sans text-3xl;
}

.card__text {
  @apply font-serif text-2xl text-secondary;
}

.card__link {
  @apply font-serif text-2xl text-primary hover:text-primary-dark;
}

.card__footer {
  @apply w-full py-4 border-l-1 border-r-1 border-b-1 rounded-b-md bg-gray-50;
}
