/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
  height: 400px;
}

.hero--is-artists {
  background-image: url(/assets/images/covers/artists.jpg);
}

.hero__title {
  @apply text-center;
}
