/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu {
  @apply flex mt-8 flex-col items-center space-y-4 font-serif text-2xl;
  @apply tablet:my-0 tablet:space-y-0 tablet:space-x-4 tablet:flex-row tablet:flex-grow;
  @apply tablet:justify-center tablet:items-center tablet:space-x-2;
}

.menu__item--is-header {
  @apply pb-2 text-secondary-light border-b-4 border-transparent hover:text-white;
}

.menu__item--is-footer {
  @apply text-primary-light hover:text-primary-lighter;
}

.menu__item--is-selected {
  @apply text-white border-b-4 border-primary-light;
}
