/*------------------------------------*\
  #PAGE
\*------------------------------------*/

.page {
  @apply flex flex-col items-center;
}

.page__separator {
  @apply w-48 mx-auto my-6;
}

.page__content {
  @apply w-full tablet:max-w-screen-computer;
}

.page__section {
  @apply w-full p-8;
}

.page__title {
  @apply pb-3 font-sans text-5xl text-center text-secondary-light uppercase;
}

.page__intro {
  @apply font-serif text-3xl text-center text-secondary-light;
}
