/*------------------------------------*\
  #CATALOG
\*------------------------------------*/

.catalog {
  @apply grid grid-cols-1 justify-items-center gap-x-8 p-0 computer:grid-cols-3 gap-y-2 list-none;
}

.catalog__item {
  @apply text-center;

  width: 300px;
}
