/*------------------------------------*\
  #FLEX-CATALOG
\*------------------------------------*/

.flex-catalog {
  @apply flex flex-wrap justify-center gap-4 p-0 list-none;
}

.flex-catalog__item {
  width: 300px;

  @apply relative text-center;

  &::before {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 120px;
    z-index: 1;
    content: url(/assets/images/play-button.svg);
  }

  &:hover::before {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.15s ease-in;
  }
}

.flex-catalog__item--is-frame {
  @apply z-10 bg-black;
}

.flex-catalog__item-image {
  width: 300px;
  max-width: 100%;
  height: 200px;
  min-height: 200px;
  object-fit: cover;

  @apply cursor-pointer border-0;

  &:hover {
    filter: grayscale(90%);
    transition: filter 0.25s ease-in;
  }
}
