/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
* 1. Not supported by IE.
*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth; /* [1] */
}

cite {
  font-style: normal;
}
