<a href="#" class="btn" title="Click to buy tickets starting at ${{ price }} each">
    <i class="fa fa-ticket-alt pr-2"></i>${{ price }}
</a>
<a href="{{ url }}" class="btn ml-2" title="Click to see a sample video of this performance">
    <i class="fa fa-video"></i>
</a>