<footer class="w-full px-8 pt-4 pb-24 bg-primary tablet:px-4">

    <div class="flex flex-col items-center tablet:flex-row tablet:justify-center">

        <div class="tablet:w-1/4">
            <a href="#top"
               class="w-12 h-12 flex justify-center items-center bg-primary-light hover:bg-primary-shadow text-white rounded-full"
               title="Go to the top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        <ul class="menu js-navbar-menu">
            <li class="menu__item--is-footer">
                <a class="menu__item " href="/"
                   title="Click to go to the home page">Home</a>
            </li>
            <li class="menu__item--is-footer">
                <a class="menu__item" href="artists.html"
                   title="Click to see all the artists that participate in the festival">Artists</a>
            </li>
            <li class="menu__item--is-footer">
                <a class="menu__item" href="#"
                   title="Click to learn more about the festival and Lully">About</a>
            </li>
            <li class="menu__item--is-footer">
                <a class="menu__item" href="#"
                   title="Click to buy tickets or send us questions">Contact</a>
            </li>
        </ul>

        <ul
            class="mt-8 tablet:w-1/4 tablet:my-0 flex flex-row justify-end tablet:pr-4 space-x-4 text-2xl text-primary-light">
            <li>
                <a class="hover:text-white" href="https://www.facebook.com/BaroqueMusic/"
                   title="Click to visit the festival's Facebook page">
                    <i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a class="hover:text-white" href="https://twitter.com/musicofbaroque?lang=en"
                   title="Click to to follow the festival on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="hover:text-white" href="https://www.youtube.com/channel/UCS7CucNrX3f6JCuIj_ugZpA"
                   title="Click to visit the festival's YouTube channel">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>

    </div>

    <div class="mt-12 flex-col items-center sans text-primary-light uppercase">

        <p class="text-center">&copy;2020 <a class="footer__link"
               href="https://cmrabet-hhc2-uoc.netlify.app/" title="Visit the author of this website">Chakir Mrabet</a>
        </p>

        <p class="text-center">
            All banner images and orchestras, operas and ballets pictures used in this website are from <a
               class="footer__link" href="https://www.mezzo.tv" title="visit Mezzo.Tv website">Mezzo.Tv</a> and <a
               class="footer__link"
               href="https://www.medici.tv/" title="Visit Medici.Tv website">Medici.Tv</a>.<br>
            Lully's portrait and bio information from <a class="footer-link"
               href="https://en.wikipedia.org" title="Visit Wikipedia article about Lully">Wikipedia</a>.<br>
            All the information about schedules and locations shown on this website is fictional.
        </p>

    </div>

</footer>