<div class="w-full bg-no-repeat bg-cover bg-top hero hero--is-{{ class }}">
    <div class="w-full h-full px-4 flex flex-col justify-center items-center computer:items-start">
        <h1 class="font-sans text-6xl text-white text-center">{{title}}</h1>
        <p class="font-serif text-3xl text-white text-center">{{intro}}</p>
    </div>
</div>