<nav class="absolute w-full px-4 py-4 flex flex-row justify-between items-center bg-transparent"
     id="top">
    <a class="navbar-brand" href="/">
        <img src="assets/images/lully-signature.png" alt="Lully's signature">
    </a>

    <button class="tablet:hidden">
        <i class="px-2 fa fa-bars text-gray-500 text-3xl border-1 border-gray-800 rounded"></i>
    </button>

    <div class="hidden tablet:inline-block">
        <ul class="menu js-navbar-menu">
            <li class="menu__item--is-header">
                <a class="menu__item" href="/"
                   title="Click to go to the home page">Home</a>
            </li>
            <li class="menu__item--is-header">
                <a class="menu__item" href="artists.html"
                   title="Click to see all the artists that participate in the festival">Artists</a>
            </li>
            <li class="menu__item--is-header">
                <a class="menu__item" href="#"
                   title="Click to learn more about the festival and Lully">About</a>
            </li>
            <li class="menu__item--is-header">
                <a class="menu__item" href="#"
                   title="Click to buy tickets or send us questions">Contact</a>
            </li>
        </ul>
    </div>
</nav>