/*------------------------------------*\
  #THEMING-SCROLLBAR
\*------------------------------------*/

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.primary.light") black;
}

/**
  * This is scrollbar styling for Chrome, Safari and Edge.
  */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.primary.light");
  border-radius: 20px;
}
